<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <style>
    body {
            background: #EAEAEA;
            color: #000000;
            font: 10pt Arial, Helvetica;
            padding: 0px;
    }
    p {
            padding: 0px;
            margin: 5px 0 5px;
    }
    h1 {
            text-align: center;
    }
    </style>
  </head>

  <body>
    <h1>{{ title_large }}</h1>
    <p>&nbsp;</p>
  </body>
</html>
